<!-- Control the behavior of search engine crawling and indexing -->
<!-- Settings -->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
        name="viewport"
        content="initial-scale=1.0, width=device-width, shrink-to-fit=no"
>

<!-- Completely opt out of DNS prefetching by setting to "off" -->
<meta http-equiv='x-dns-prefetch-control' content='on'>
<!--Links Prefetch-->
<link rel="preconnect" href="https://cdnjs.cloudfare.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="preconnect" href="https://kit.fontawesome.com" crossorigin>
<link rel='preconnect' href='https://fonts.googleapis.com'>
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>


<!-- Search Engines -->
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="referrer" content="origin-when-crossorigin">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="address=no"/>
<meta name="csrf-param" content="_csrf-frontend">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">
<meta name="google" content="notranslate">
<meta
        name="author"
        content="qwetru.ru"

/>
<meta
        name="copyright"
        content="(c)2023"
>
<meta
        http-equiv="Reply-to"
        content="info@qwetru.ru"
>
<meta
        name="ICBM"
        content="Сообщество Q"
>
<meta name="geo.region" content="RU-Москва">
<meta name="geo.placename" content="Москва/Россия">
<meta
        name="geo.position"
        content="55.63654099265, 37.645151763945"
/>
<meta
        name="ICBM"
        content="55.63654099265, 37.645151763945"
/>
<!--Links-->
<link rel="index" href="http://qwetru.local">

<!--Favicons-->
<link rel='apple-touch-icon' sizes='180x180' href='/fav/apple-touch-icon.png'>
<meta name='theme-color' content='#ffffff'>

<link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
<link rel='icon' href='/favicon.ico' type='image/x-icon'>

<link sizes='16x16' rel='icon' href='/fav/favicon-16x16.png' type='image/png'>
<link sizes='32x32' rel='icon' href='/fav/favicon-32x32.png' type='image/png'>
<link
        sizes='192x192' rel='icon' href='/fav/android-chrome-192x192.png'
        type='image/png'
>
<link
        sizes='512x512' rel='icon' href='/fav/android-chrome-512x512.png'
        type='image/png'
>

<link rel='manifest' href='/site.webmanifest'>
<link rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5'>
<meta name='msapplication-TileColor' content='#da532c'>
<meta name='theme-color' content='#000000'>

<meta name='skype_toolbar' content='skype_toolbar_parser_compatible'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='skype_toolbar' content='skype_toolbar_parser_compatible'>
<meta http-equiv='Content-language' content='ru'/>

<meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token"
      content="6gsRc4Kkge3g2Xw8tkp8BeeDULCjuqnpvgU8JbNH6C-kaCI81-n0n5K_TlXRfhhzrbQGwI78xYTrTlNn7B6rYg==">
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<meta name="description" content="Сообщество Q приглашает авторов">
<meta name="keywords" content="qwetru.ru, shopnseo.local">
<meta name="apple-mobile-web-app-title" content="qwetru.ru">
<meta property="og:type" content="webpage">
<meta property="og:locale" content="ru_RU">
<meta property="og:site_name" content="qwetru.ru">
<meta property="og:title" content="qwetru.ru">
<meta property="og:description" content="Сообщество Q приглашает авторов">
<meta property="og:url" content="https://qwetru.local/">
<meta property="og:image:height" content="371">
<meta property="og:image:width" content="660">
<meta property="og:image" content="http://static.qwetru.local/cache/jumbo/col-6_2.jpg">
<meta property="og:image:secure_url" content="http://static.qwetru.local/cache/jumbo/col-6_2.jpg">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="http://static.qwetru.local/cache/jumbo/col-6_2.jpg">
<meta property="twitter:url" content="https://qwetru.local/">
<meta property="twitter:domain" content="qwetru.ru">
<meta property="twitter:site" content="@qwetru_ru">
<meta property="twitter:creator" content="@qwetru_ru">
<meta property="twitter:title" content="qwetru.ru">
<meta property="twitter:description" content="Сообщество Q приглашает авторов">
